.outer
{
    width: 100%;
}

.header
{
    font-size: 5em;
    text-align: center;
    background: red;
}

.middle
{
    background: yellow;
    width: 100%;
}

.middle .gwt-Label, .footer .gwt-Label
{
    display: inline;
}

.footer
{
    background: orange;
}
